{% extends "layout.html"%}

{% set pageId = "page-create-point" %}

{% block title %}
<title>Criar ponto de coleta</title>
{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="/styles/create-point.css">
<link rel="stylesheet" href="/styles/modal.css">
{% endblock styles %}



{% block content %}
    {% include "partials/page-header.html" %}
    <form action="/savepoint" method="POST">
        <h1>Cadastro do ponto de coleta</h1>

        <!--Coleção de campos que auxilia na semantica html e separa os campos do formulário da parte de intens de coleta-->
        <fieldset>
            <legend>
                <h2>Dados de entidade</h2>
            </legend>

            <div class="field-group">
                <div class="field">
                    <label for="nome">Nome da entidade</label>
                    <input type="text" name="name" required>
                </div>
                <div class="field">
                    <label for="nome">Imagem da entidade</label>
                    <input type="url" name="image" required placeholder="ex: http://exemplo.com">
                </div>
            </div>


            <div class="field-group">
                <div class="field">
                    <label for="address">Endereço</label>
                    <input type="text" name="address" required>
                </div>
                <div class="field">
                    <label for="address2">Número/complemento</label>
                    <input type="text" name="address2" required>
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <label for="state">Estado</label>
                    <select name="uf" required>
                        <option value="">Selecione o Estado</option>
                    </select>
                </div>
                <div class="field">
                    <label for="city">Cidade</label>
                    <select name="city" disabled required>
                        <option value="">Selecione a Cidade</option>
                    </select>

                    <input type="hidden" name="state">
                </div>
            </div>

        </fieldset>

        <fieldset>
            <legend>
                <h2>Itens de coleta</h2>
                <span>Selecione um ou mais itens abaixo:</span>
            </legend>

            <div class="itens-grid">
                <li data-id="Lampada">
                    <img src="./assets/lampadas.svg" alt="lampadas">
                    <span>Lampada</span>
                </li>
                <li data-id="Pilhas e baterias">
                    <img src="./assets/baterias.svg" alt="Pilhas e baterias">
                    <span>Pilhas e baterias</span>
                </li>
                <li data-id="Papeis e papelão">
                    <img src="./assets/papeis-papelao.svg" alt="Papeis e papelão">
                    <span>Papeis e papelão</span>
                </li>
                <li data-id="Resíduos eletronicos">
                    <img src="./assets/eletronicos.svg" alt="Resíduos eletronicos">
                    <span>Resíduos eletrônicos</span>
                </li>
                <li data-id="Resíduos organicos">
                    <img src="./assets/organicos.svg" alt="Resíduos orgânicos">
                    <span>Resíduos orgânicos</span>
                </li>
                <li data-id="Óleo de cozinha">
                    <img src="./assets/oleo.svg" alt="Óleo de cozinha">
                    <span>Óleo de cozinha</span>
                </li>
            </div>
            <input type="hidden" name="itens">
        </fieldset>

        <button type="submit">Cadastrar ponto de coleta</button>

    </form>

{% endblock content %}

{% block modal %}

    {% if saved %}
        {% include "partials/point-created.html" %}
    {% endif%}  
                    
{% endblock modal %}

{% block scripts %}

<script src="./scripts/createPoint.js"></script>

{% endblock scripts %}