/*Colocando uma imagem via url*/
#page-home {
    /*Altura = vh que a imagem irá ocupar em porcentagem o tamanhoa da tela que o usuário*/
    height: 100vh;
    
    background: url('../assets/home-background.svg') no-repeat;
    /*Ajustando a largura = vw*/
    background-position: 35vw bottom;
}

/*Usando classe e posicionando os elementos internos*/
#page-home .content {
    /*tamanho em porcentagem que o box irá ocupar*/
    width: 90%;
    /*Tamanho máximo da header*/
    max-width: 1100px;
    /*Adicionando uma altura*/
    height: 100%;
    
    /*Deixando os espaços de fora iguais. O primeiro parâmetro 
    está relacionado ao topo e bottom e o segundo referente a esquerda e direita*/
    margin: 0 auto;

    /*Preparando o terreno para que o conteúdo principal seja exibido em forma de coluna*/
    display: flex;
    flex-direction: column;
}

#page-home header {    
    margin-top: 48px;

    display: flex;
    /*Alinhando os inens no mesmo eixo*/
    align-items: center;
    /*Posicionando os elementos do box botando um espaço entre eles*/
    justify-content: space-between;
}

#page-home header a {
    display: flex;
    /*Mudar cor do texto utilizando as variáveis globais*/
    color: var(--title-color);
    font-weight: 700;
}

#page-home header a span {
    margin-right: 16px;
    display: flex;

    background-image: url('../assets/log-in.svg');

    width: 20px;
    height: 20px;
}

#page-home main {
    /*Mudar a largura máxima*/
    max-width: 560px;

    /*Ajustando a altura interna dos elementos relativo a altura*/
    flex: 1;

    display: flex;
    flex-direction: column;

    /*Justificando */
    justify-content: center;
}

#page-home main h1{
    font-size: 54px;
}

#page-home main p{
    font-size: 24px;
    line-height: 38px;
    margin-top: 24px;
}

#page-home main a{
    /* Ajustando o tamanho da caixa do link para que se pareça com um botão*/
    width: 100%;
    max-width: 360px;
    height: 72px;  

    border-radius: 8px;

    display: flex;
    align-items: center;

    margin-top: 40px;

    background-color: var(--primary-color);  

    /*Deixando mais suave a transição de cores do botão*/
    transition: 400ms;
}

#page-home main a:hover {
    background-color: #2fb86e;
}

#page-home main a span {
    height: 72px;
    width: 72px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
}

#page-home main a span::after {
    content: "";
    background-image: url('../assets/search.svg');

    width: 20px;
    height: 20px;
}

#page-home main a strong {
    color: white;
    flex: 1;

    text-align: center;
}